<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ shop.name }}</title>

  {{ content_for_header }}

  {{ 'base.css' | asset_url | stylesheet_tag }}
</head>

<body class="template-password">
  <main id="MainContent" role="main">
    <div class="password-page">
      <div class="password-page__header">
        <h1 class="password-page__heading">{{ shop.name }}</h1>
      </div>
      <div class="password-page__content">
        {{ content_for_layout }}
      </div>
      <div class="password-page__footer">
        <p>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</p>
      </div>
    </div>
  </main>

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
</body>
</html>
